:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #acb5b2;
  background-color: var(--primary-color);

  --primary-color: #2d4f43;
  --secondary-color: #acb5b2;
  --tetriary-color: #a31414;

  --dark-green: #152620;

  --largest-font-size: 2.2rem;
  --large-font-size: 1.4rem;
  --medium-font-size: 1.2rem;
  --small-font-size: 1rem;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #152620;
  cursor: pointer;

  border-radius: 10px;
}

a {
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--dark-green);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
