:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #acb5b2;
  background-color: #28463c;
}

a {
  font-weight: 600;
  color: #acb5b2;
  text-decoration: inherit;
}
a:hover {
  color: #a31414
}

body {

 margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
